# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/out/
dist
docs
.next

# Production build artifacts
/build

# Debugging logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local environment variables
.env*.local
.env

# Vercel-specific (if using Vercel)
.vercel

# TypeScript
next-env.d.ts

# OS specific files
.DS_Store
*.pem
.env.*